/*
 * DB-LOCK-POC
 * 라라벨에 스웨거 적용 테스트를 위한 프로젝트
 *
 * OpenAPI spec version: 1
 * Contact: juwonkim@me.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package kr.appkr.swagger_poc_api.service;

import kr.appkr.swagger_poc_api.ApiCallback;
import kr.appkr.swagger_poc_api.ApiClient;
import kr.appkr.swagger_poc_api.ApiException;
import kr.appkr.swagger_poc_api.ApiResponse;
import kr.appkr.swagger_poc_api.Configuration;
import kr.appkr.swagger_poc_api.Pair;
import kr.appkr.swagger_poc_api.ProgressRequestBody;
import kr.appkr.swagger_poc_api.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import kr.appkr.swagger_poc_api.model.ErrorDto;
import kr.appkr.swagger_poc_api.model.NewProductRequest;
import kr.appkr.swagger_poc_api.model.ProductDto;
import kr.appkr.swagger_poc_api.model.ProductListResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ProductApi {
    private ApiClient apiClient;

    public ProductApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ProductApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for createProduct
     * @param authorization 액세스 토큰 (required)
     * @param body  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createProductCall(String authorization, NewProductRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/v1/products";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (authorization != null)
        localVarHeaderParams.put("Authorization", apiClient.parameterToString(authorization));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json", "application/x-www-form-urlencoded"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createProductValidateBeforeCall(String authorization, NewProductRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'authorization' is set
        if (authorization == null) {
            throw new ApiException("Missing the required parameter 'authorization' when calling createProduct(Async)");
        }
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling createProduct(Async)");
        }
        

        com.squareup.okhttp.Call call = createProductCall(authorization, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 새 상품을 등록합니다.
     * 
     * @param authorization 액세스 토큰 (required)
     * @param body  (required)
     * @return ProductDto
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ProductDto createProduct(String authorization, NewProductRequest body) throws ApiException {
        ApiResponse<ProductDto> resp = createProductWithHttpInfo(authorization, body);
        return resp.getData();
    }

    /**
     * 새 상품을 등록합니다.
     * 
     * @param authorization 액세스 토큰 (required)
     * @param body  (required)
     * @return ApiResponse&lt;ProductDto&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ProductDto> createProductWithHttpInfo(String authorization, NewProductRequest body) throws ApiException {
        com.squareup.okhttp.Call call = createProductValidateBeforeCall(authorization, body, null, null);
        Type localVarReturnType = new TypeToken<ProductDto>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * 새 상품을 등록합니다. (asynchronously)
     * 
     * @param authorization 액세스 토큰 (required)
     * @param body  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createProductAsync(String authorization, NewProductRequest body, final ApiCallback<ProductDto> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createProductValidateBeforeCall(authorization, body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ProductDto>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteProduct
     * @param authorization 액세스 토큰 (required)
     * @param productId  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteProductCall(String authorization, Long productId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v1/products/{productId}"
            .replaceAll("\\{" + "productId" + "\\}", apiClient.escapeString(productId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (authorization != null)
        localVarHeaderParams.put("Authorization", apiClient.parameterToString(authorization));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json", "application/x-www-form-urlencoded"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteProductValidateBeforeCall(String authorization, Long productId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'authorization' is set
        if (authorization == null) {
            throw new ApiException("Missing the required parameter 'authorization' when calling deleteProduct(Async)");
        }
        
        // verify the required parameter 'productId' is set
        if (productId == null) {
            throw new ApiException("Missing the required parameter 'productId' when calling deleteProduct(Async)");
        }
        

        com.squareup.okhttp.Call call = deleteProductCall(authorization, productId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 상품을 삭제합니다.
     * 
     * @param authorization 액세스 토큰 (required)
     * @param productId  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteProduct(String authorization, Long productId) throws ApiException {
        deleteProductWithHttpInfo(authorization, productId);
    }

    /**
     * 상품을 삭제합니다.
     * 
     * @param authorization 액세스 토큰 (required)
     * @param productId  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteProductWithHttpInfo(String authorization, Long productId) throws ApiException {
        com.squareup.okhttp.Call call = deleteProductValidateBeforeCall(authorization, productId, null, null);
        return apiClient.execute(call);
    }

    /**
     * 상품을 삭제합니다. (asynchronously)
     * 
     * @param authorization 액세스 토큰 (required)
     * @param productId  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteProductAsync(String authorization, Long productId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteProductValidateBeforeCall(authorization, productId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for listProducts
     * @param authorization 액세스 토큰 (required)
     * @param q 검색어 (optional)
     * @param priceFrom 최소 가격 (optional)
     * @param priceTo 최대 가격 (optional)
     * @param sortKey 정렬 필드 (optional, default to CREATED_AT)
     * @param sortDirection 정렬 방향 (optional, default to DESC)
     * @param page 페이지 (optional, default to 1)
     * @param size 페이지당 표시할 아이템 개수 (optional, default to 10)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call listProductsCall(String authorization, String q, Long priceFrom, Long priceTo, String sortKey, String sortDirection, Integer page, Integer size, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v1/products";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (q != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("q", q));
        if (priceFrom != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("price_from", priceFrom));
        if (priceTo != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("price_to", priceTo));
        if (sortKey != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sort_key", sortKey));
        if (sortDirection != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sort_direction", sortDirection));
        if (page != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
        if (size != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("size", size));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (authorization != null)
        localVarHeaderParams.put("Authorization", apiClient.parameterToString(authorization));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call listProductsValidateBeforeCall(String authorization, String q, Long priceFrom, Long priceTo, String sortKey, String sortDirection, Integer page, Integer size, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'authorization' is set
        if (authorization == null) {
            throw new ApiException("Missing the required parameter 'authorization' when calling listProducts(Async)");
        }
        

        com.squareup.okhttp.Call call = listProductsCall(authorization, q, priceFrom, priceTo, sortKey, sortDirection, page, size, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 상품 목록을 조회합니다.
     * 
     * @param authorization 액세스 토큰 (required)
     * @param q 검색어 (optional)
     * @param priceFrom 최소 가격 (optional)
     * @param priceTo 최대 가격 (optional)
     * @param sortKey 정렬 필드 (optional, default to CREATED_AT)
     * @param sortDirection 정렬 방향 (optional, default to DESC)
     * @param page 페이지 (optional, default to 1)
     * @param size 페이지당 표시할 아이템 개수 (optional, default to 10)
     * @return ProductListResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ProductListResponse listProducts(String authorization, String q, Long priceFrom, Long priceTo, String sortKey, String sortDirection, Integer page, Integer size) throws ApiException {
        ApiResponse<ProductListResponse> resp = listProductsWithHttpInfo(authorization, q, priceFrom, priceTo, sortKey, sortDirection, page, size);
        return resp.getData();
    }

    /**
     * 상품 목록을 조회합니다.
     * 
     * @param authorization 액세스 토큰 (required)
     * @param q 검색어 (optional)
     * @param priceFrom 최소 가격 (optional)
     * @param priceTo 최대 가격 (optional)
     * @param sortKey 정렬 필드 (optional, default to CREATED_AT)
     * @param sortDirection 정렬 방향 (optional, default to DESC)
     * @param page 페이지 (optional, default to 1)
     * @param size 페이지당 표시할 아이템 개수 (optional, default to 10)
     * @return ApiResponse&lt;ProductListResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ProductListResponse> listProductsWithHttpInfo(String authorization, String q, Long priceFrom, Long priceTo, String sortKey, String sortDirection, Integer page, Integer size) throws ApiException {
        com.squareup.okhttp.Call call = listProductsValidateBeforeCall(authorization, q, priceFrom, priceTo, sortKey, sortDirection, page, size, null, null);
        Type localVarReturnType = new TypeToken<ProductListResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * 상품 목록을 조회합니다. (asynchronously)
     * 
     * @param authorization 액세스 토큰 (required)
     * @param q 검색어 (optional)
     * @param priceFrom 최소 가격 (optional)
     * @param priceTo 최대 가격 (optional)
     * @param sortKey 정렬 필드 (optional, default to CREATED_AT)
     * @param sortDirection 정렬 방향 (optional, default to DESC)
     * @param page 페이지 (optional, default to 1)
     * @param size 페이지당 표시할 아이템 개수 (optional, default to 10)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call listProductsAsync(String authorization, String q, Long priceFrom, Long priceTo, String sortKey, String sortDirection, Integer page, Integer size, final ApiCallback<ProductListResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = listProductsValidateBeforeCall(authorization, q, priceFrom, priceTo, sortKey, sortDirection, page, size, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ProductListResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for updateProduct
     * @param authorization 액세스 토큰 (required)
     * @param productId  (required)
     * @param body  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call updateProductCall(String authorization, Long productId, NewProductRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/v1/products/{productId}"
            .replaceAll("\\{" + "productId" + "\\}", apiClient.escapeString(productId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (authorization != null)
        localVarHeaderParams.put("Authorization", apiClient.parameterToString(authorization));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json", "application/x-www-form-urlencoded"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call updateProductValidateBeforeCall(String authorization, Long productId, NewProductRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'authorization' is set
        if (authorization == null) {
            throw new ApiException("Missing the required parameter 'authorization' when calling updateProduct(Async)");
        }
        
        // verify the required parameter 'productId' is set
        if (productId == null) {
            throw new ApiException("Missing the required parameter 'productId' when calling updateProduct(Async)");
        }
        

        com.squareup.okhttp.Call call = updateProductCall(authorization, productId, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 상품을 수정합니다.
     * 
     * @param authorization 액세스 토큰 (required)
     * @param productId  (required)
     * @param body  (optional)
     * @return ProductDto
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ProductDto updateProduct(String authorization, Long productId, NewProductRequest body) throws ApiException {
        ApiResponse<ProductDto> resp = updateProductWithHttpInfo(authorization, productId, body);
        return resp.getData();
    }

    /**
     * 상품을 수정합니다.
     * 
     * @param authorization 액세스 토큰 (required)
     * @param productId  (required)
     * @param body  (optional)
     * @return ApiResponse&lt;ProductDto&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ProductDto> updateProductWithHttpInfo(String authorization, Long productId, NewProductRequest body) throws ApiException {
        com.squareup.okhttp.Call call = updateProductValidateBeforeCall(authorization, productId, body, null, null);
        Type localVarReturnType = new TypeToken<ProductDto>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * 상품을 수정합니다. (asynchronously)
     * 
     * @param authorization 액세스 토큰 (required)
     * @param productId  (required)
     * @param body  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call updateProductAsync(String authorization, Long productId, NewProductRequest body, final ApiCallback<ProductDto> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = updateProductValidateBeforeCall(authorization, productId, body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ProductDto>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
